@import url("../assets/fonts/font.css");
@import url("https://use.typekit.net/nfb5crw.css");

@font-face {
    font-family: 'Eastman-Alternate-Trial-Medium';
    src: url('../assets/fonts/Eastman-Alternate-Trial-Medium.ttf.woff') format('woff'),
}

:root {
  font-weight: 300;
  font-size: 1.0rem;
  line-height: 1.5rem;
  font-family: "Albert Sans", sans-serif;
  letter-spacing: -0.04rch;
  color:  #2583a8;
  background-color: #011436;
  --whiteblue: #eefffe; 
  --lightblue: #b0e4f9;
  --lightbluer: #d1f6ff;
  --brightaqua: #32b0c0;
  --aquablue: #32B0E1;
  --brightblue: #2d2ed0;
  --midblue: #0f4f61; 
  --darkblue: #011436;
  --creme: #FEFCF1;
  --darkcreme: #dddbaa;
  --whitegreen: #eefade;
  --lightgreen: #d9f4c5;
  --kiwigreen: #AEC539;
  --midgreen: #637b27;
  --darkgreen: #193829;
  --white: #FFFFFF;
  --black: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
 width: 100vw;
}

main {
  min-height: 100vh;
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
}

nav img {
  width: auto;
  max-height: 45px;
}

nav img:hover {
  transform: scale(0.98);
  cursor: pointer;
  opacity: 0.8;
}

ul a, ul a .menu-button {
  margin: 2%;
  font-family: "bc-novatica-cyr", sans-serif;
  padding: 5px 5px 4px 5px;
  border-radius: 100px;
  width: 12vw;
  border: none;
  background-color: var(--lightblue);
  color: var(--darkblue);
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.08rch;
}

.dropdown-menu a:hover, ul .menu-button:hover {
  background: var(--kiwigreen);
  color: var(--darkblue);
  transform: scale(0.96);
}

li {
  list-style: none;
}

li .nav-sub {
  font-size: 0.90rem;
  color: var(--lightblue);
  margin-top: 6px;
  letter-spacing: 0.01rch;
  font-weight: 500;
}

li .nav-sub::before {
  content: "• ";
  color: var(--kiwigreen);
  font-weight: 600;
  font-size: 1.5rem;
  vertical-align: text-top;
  line-height: 0.9rem;
}

li .nav-sub:hover {
  color: var(--kiwigreen);
  transform: scale(0.96);
  cursor: pointer;
}

a[href^="tel:"], a[href^="mailto:"] {
   color: var(--aquablue);
   text-decoration: none;
   margin-right: 0.1em;
}
a[href^="tel:"]:before {
   content: "✆";
   font-family:"dashicons";
   color: var(--aquablue);
   width:30px;
   font-size: 2.2rem;
   display:inline-block;
}

a[href^="mailto:"]:before {
   content: "✉";
   font-family:"dashicons";
   color: var(--aquablue);
   width:30px;
   font-size: 2.2rem;
   display:inline-block;
}

.contact-1 td p {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Albert Sans", sans-serif;
  color: var(--lightblue);
  padding: 0px 50px;
  margin-bottom: 2px;
}

.contact-1 table {
  padding-bottom: 5vh;
}

a::before {
  content: "";  
  font-weight: 500;
  text-decoration: none;
  color: var(--aquablue);
}

nav ul a {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--aquablue);
  font-weight: 700;
}

a:hover {
  color: var(--kiwigreen);
  transform: scale(0.95) ease;
}

button {
  font-family: "bc-novatica-cyr", sans-serif;
  font-size: 0.92rem;
  font-weight: 600;
  letter-spacing: 0.15rch;
  margin: 6px;
  padding: 0.8rem 1.5rem 0.9rem 1.5rem;
  border-radius: 100px;
  min-width: 130px;
  background-color: var(--darkblue);
  color: var(--lightblue);
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

button:hover {
  transform: scale(0.96);
  background-color: var(--kiwigreen);
  color: var(--darkblue);
}

form button {
  background-color: var(--kiwigreen);
  color: var(--darkgreen);
  font-weight: 600;
}

nav {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 4%;
  box-sizing: border-box;
  width: 100vw;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

nav button {
  font-family: "bc-novatica-cyr", sans-serif;
  word-spacing: 0rch;
  background-color: var(--lightblue);
  color: var(--darkblue);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.0rem;
  letter-spacing: 0.09rch,
}

nav button:hover {
  transform: scale(0.96);
  background-color: var(--kiwigreen);
  color: var(--darkblue);
}

nav button:focus {
  background-color: var(--kiwigreen);
}

h1 {
  font-size: 2.8rem;
  line-height: 2.0rem;
  font-family: "bc-novatica-cyr", sans-serif;
  word-spacing: 0rch;
  /* text-transform: uppercase; */
  letter-spacing: 0.06rch;
  font-weight: 500;
    color: var(--lightblue);
}

.hero p {
    color: #76c1ec;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 500;
}

h2,
.custom-h2 {
  font-size: 2.2rem;
  line-height: 2.0rem;
  letter-spacing: 0.2rch;
  font-family: 'all-round-gothic', sans-serif;
  word-spacing: 0rch;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 0;
}

.section-2 h2 {
  padding-bottom: 5%;
}

.section-1 h2 {
  color: var(--lightblue);
}

.work-ad h3 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.1rch;
  font-family: "bc-novatica-cyr", sans-serif;
  text-align: center;
  margin-top: -3%;
}

.work-ad h2 {
  font-size: 1.16rem;
  font-weight: 600;
  font-family: "Albert Sans", sans-serif;
  text-align: left;
  color: var(--aquablue);
  letter-spacing: 0.05rch;
  margin-bottom: -3%;
}

.work-ad p {
  font-size: 1.0rem;
  line-height: 1.4;
  font-weight: 300;
  font-family: "Albert Sans", sans-serif;
  color: var(--midblue);
  margin-top: 1%;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.1rch;
  font-family: "bc-novatica-cyr", sans-serif;
  text-align: center;
}

.carousel-card h5 {
  font-size: 1.0rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.08rch;
  font-family: "bc-novatica-cyr", sans-serif;
  margin-bottom: 10px;
}

.carousel-card u {
  font-family: "bc-novatica-cyr", sans-serif;
  letter-spacing: 0.09rch;
  text-underline-offset: 2px;
  font-weight: 600;
  font-size: 0.95rem;
  text-decoration-thickness: 2px;
}

.carousel-btn left, .carousel-btn, right, .carousel-btn  {
  font-size: 9rem;
  font-weight: 400;
  background-color: transparent;
  color: var(--aquablue);
}

.carousel-container .card-button {
  background: var(--darkblue);
  color: var(--lightblue);
  font-size: 1rem;
}

.carousel-container .card-button:hover {
  transform: scale(0.96);
  background: var(--kiwigreen);
  color: var(--darkgreen)
}

.carousel-wrapper .carousel-btn:hover {
  transform: scale(0.96);
  color: var(--kiwigreen);
}

.title-text-box button {
      background-color: var(--darkblue);
      color: var(--whiteblue);
  }

.title-text-box button:hover {
  background-color: var(--aquablue);
}

.utbud-richtext b {
  font-family: "bc-novatica-cyr", sans-serif;
  letter-spacing: 0.17rch;
  font-weight: 400;
  font-size: 0.95rem;
}

.utbud-richtext li {
  width: 85%;
}

p {
  font-weight: 400;
  font-size: 1.0rem;
  line-height: 1.2rem;
  font-family: "Albert Sans", sans-serif;
  letter-spacing: -0.04rch;
  line-break: 50px;
}

section {
  box-sizing: border-box;
  min-height: 25vh;
  width: 100%;
}

.section-1 {
  background: var(--darkblue);
  color: var(--lightblue);
}

.section-1 p {
  color: var(--whiteblue);
}

.section-2 {
  background-color: var(--whiteblue);
}

.section-2 p {
  color: var(--darkblue);
}

.cards-row {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  width: 80%;
}

.card {
  min-width: none;
  max-width: 33%;
  padding: 10px 15px;
  margin-top: 3%;
  border-radius: 8px;
  background: var(--creme);
  box-shadow: 2px 2px 20px rgba(119, 201, 255, 0.85);
  border: 1px solid rgba(119, 201, 255, 0.712);
  display: flex;
  flex-direction: column;
}

.card h3 {
  margin: 20px 0 8px;
  font-size: 1.25rem;
  font-family: "bc-novatica-cyr", sans-serif;
  color: var(--black);
  font-weight: 600;
  letter-spacing: -0.008rch;
}

.card p {
  margin: 0 0 12px;
  color: var(--black);
  font-size: 0.95rem;
  letter-spacing: 0.03rch;
}

.card a {
  background: var(--kiwigreen);
  color: var(--midgreen);
}

.card a::before {
  content: "";
  margin-left: -30px;
}

.card a:hover {
  color: var(--darkblue);
  background-color: var(--aquablue);
  transform: scale(0.95);
  cursor: pointer;
}

.map {
  border-radius: 6px;
  overflow: hidden;
  height: 220px;
  display: flex;
}

.map iframe {
  display: flex;
  width: 100%;
  height: 100%;
  border: 0;
  min-width: none;
}

.contact-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
}

.contact-table th,
.contact-table td {
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  text-align: left;
}

.contact-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.section-1-text div .section-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.leaflet-container {
  width: 100%;
  height: 60vh;
}

.map-embed .leaflet-container {
  width: 100%;
  height: 60vh;
}

.section-1-text {
    width: 100%;
  height: 30vh;
}

footer {
  width: 100%;
  background: var(--aquablue);
  color: var(--lightblue);
  text-align: center;
  font-size: 1.15rem;
  padding: 2% 0;
  min-height: 6vh;
  bottom: 0;
}

@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .card {
    max-width: 100%;
  }
}