:root {
  font-weight: 400;
  line-height: 1.4rem;
  font-family: "halcom", sans-serif;
  color: rgba(238, 255, 254, 0.9);
  background-color: #011436;

  --kiwigreen: #AEC539;
  --aquablue: #32B0E1;
  --lightblue: #D1F6FF;
  --lightgreen: #F2F3A7;
  --whiteblue: #EEFFFE;
  --midblue: #005D85;
  --midgreen: #637B27;
  --darkblue: #011436;
  --darkgreen: #252C00;
  --creme: #FEFCF1;
  --white: #FFFFFF;
  --black: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  width: 100vw;
}

main {
  margin: 0;
  width: 100vw;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

.navbar {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 2rem;
  box-sizing: border-box;
  max-width: 100vw;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navbar a {
  text-decoration: none;
  color: var(--darkblue);
  font-weight: 500;
}

.dropdown-button:hover {
  transform: scale(0.98);
  background: var(--kiwigreen);
  color: var(--darkblue);
}

/* logo */
.navbar img {
  width: auto;
  max-height: 45px;
}

.navbar img:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.nav-button {
  margin: 0.2rem;
  padding: 0.3rem 0rem 0.4rem 0rem;
  border-radius: 100px;
  border: none;
  background-color: var(--lightblue);
  color: var(--darkblue);
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.nav-button:hover {
  background: var(--kiwigreen);
  transform: scale(0.98);
  color: var(--darkblue);
}

li {
  list-style: none;
}

li .nav-sub {
  font-size: 0.9rem;
  color: var(--lightblue);
  margin: 6px 0 0 8px;
}

li .nav-sub::before {
  content: "• ";
  color: var(--kiwigreen);
  font-weight: 800;
  font-size: 2rem;
  vertical-align: text-top;
  line-height: 0.8rem;
}

li .nav-sub:hover {
  color: var(--kiwigreen);
  transform: scale(0.98);
  cursor: pointer;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  font-family: "Arboria", sans-serif;
  color: var(--aquablue);
}

a:hover {
  color: var(--kiwigreen);
  transform: scale(0.98);
}

button {
  font-family: "Arboria", sans-serif;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 400;
  font-family: inherit;
  letter-spacing: 0.04rch;
  margin: 0.2rem;
  padding: 0.5rem 1.5rem 0.6rem 1.5rem;
  border-radius: 100px;
  min-width: 130px;
  background-color: var(--darkblue);
  color: var(--whiteblue);
  cursor: pointer;
  border: none;
}

button:hover {
  transform: scale(0.98);
  background: var(--kiwigreen);
  color:var(--darkblue);
}

h1 {
  font-size: 3.0em;
  line-height: 1.1;
  font-family: "Arboria", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.8rch;
}

h2 {
  font-size: 2.4em;
  line-height: 1.2;
  font-family: "Arboria", sans-serif;
}

section {
  box-sizing: border-box;
  min-height: 60vh;
  width: 100%;
}

.section-1  {
  background-color: var(--whiteblue);
}

.section-2  {
  background-color: var(--darkblue);
}


.footer  {
  background: var(--lightblue);
  color: var(--aquablue);
  text-align: center;
  font-size: 0.85rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  min-height: 6vh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
}