@font-face {
  font-family: 'GoogleFont2015';
  src: url('../fonts/googlelogofont2015.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'SiBuled';
  src: url('../fonts/SiBuled.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'ModeG';
  src: url('../fonts/ModeG.ttf') format('truetype');
  font-display: swap;
}


@font-face {
  font-family: 'Eastman-Medium';
  src: url('../fonts/Eastman-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Eastman-Regular';
  src: url('../fonts/Eastman-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Eastman-Light';
  src: url('../fonts/Eastman-Light.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Eastman-Extralight';
  src: url('../fonts/Eastman-Extralight.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Eastman-Bold';
  src: url('../fonts/Eastman-Bold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Eastman-Extrabold';
  src: url('../fonts/Eastman-Extrabold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Eastman-Black';
  src: url('../fonts/Eastman-Black.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Majoram';
  src: url('../fonts/Majoram.otf') format('opentype');
  font-display: swap;
}
