.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.navbar {
  background: transparent;
  color: #D1F6FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 2%;
  max-width: 100%;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navbar a {
  color: #D1F6FF;
  text-decoration: none;
}

.navbar span:hover {
transform: scale(0.95);
}

.footer {
  background: #32B0E1;
  color: var(--darkblue);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
}
