:root {
  font-weight: 300;
  font-family: halcom, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #011436;

  --kiwigreen: #AEC539;
  --aquablue: #32B0E1;
  --lightblue: #D1F6FF;
  --lightgreen: #F2F3A7;
  --whiteblue: #EEFFFE;
  --midblue: #005D85;
  --midgreen: #637B27;
  --darkblue: #011436;
  --darkgreen: #252C00;
  --creme: #FEFCF1;
  --white: #FFFFFF;
  --black: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  width: auto;
  max-height: 40px;
}

.navbar img:hover {
  transform: scale(0.95);
}

a {
  font-weight: 500;
  color: #EEFFFE;
  text-decoration: inherit;
}

a:hover {
  color: #045587;
transform: scale(0.95);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #32B0E1;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #045587;
  transform: scale(0.95);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #D1EDFF;
    background-color: #011436;
  }
  a:hover {
    color: #045587;
  }
  button {
    background-color: #32B0E1;
  }
}
